* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}

.landingMain {
  text-align: center;
  padding: 100px 0 100px 0;

}

h1 {
  color: rgba(19, 183, 220, 0.9);
}


.logo {
  width: 25%;
}

.btn-info {
  background: rgb(255, 170, 52);
  border: none;
  transition: background 0.5s;
}

.btn-info:hover {
  background: rgba(255, 170, 52, 0.6);
}
button, input {
  margin: 10px 10px;
}

input {
  border-radius: 5px;
  border: 1px solid gray;
}

p { 
  color: #9B9B9B;
}

header {
  background: #2D2D2D;
  
}
.headerLogo {
  height: 75px;
  padding: 8px 0 8px 0;

}

.registerMain {
  margin: 15px 40px 0px 40px;
}
.registerSubmit {
  margin: 5px 0px 5px 245px;
}

select {
  margin: 8px 0px 5px 10px;
}
